@import url(./reset.css);

body {
    font-family: 'Lato', sans-serif;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container h1 {
    margin-bottom: 72px;
    font-weight: bold;
    font-size: 32px;
    text-transform: uppercase;
    text-align: center;
    color: #151414;
}

.wrapper {
    font-size: 0;
    margin-left: -34px;
    margin-right: -34px;
}

.card {
    display: inline-block;
    width: 33.333%;
    padding-left: 34px;
    padding-right: 34px;
    margin-bottom: 68px;
    vertical-align: top;
    text-align: center;
}

.content {
    font-size: 16px;
}

.content img {
    min-width: 60px;
    margin-bottom: 24px;
}

.content h2 {
    margin-bottom: 24px;
    font-weight: bold;
    font-size: 16px;
    text-transform: uppercase;
    color: #2f302c;
}

.content p {
    color: #7e7f7c;
}
